<!-- <p>user-register works!</p>

<h2>User Registration</h2>
<form (ngSubmit)="registerUser()">
  <label for="email">Email:</label>
  <input id="email" [(ngModel)]="user.email" name="email" required>

  <label for="password">Password:</label>
  <input id="password" [(ngModel)]="user.password" name="password" required>

  <button type="submit">Register</button>
</form> -->

<div class="register-container">
  <h2>User Registration</h2>
  <form (ngSubmit)="registerUser()">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" id="username" [(ngModel)]="user.username" name="username" required>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" [(ngModel)]="user.email" name="email" required>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" [(ngModel)]="user.password" name="password" required>
    </div>
    <button type="submit" nz-button nzType="primary">Register</button>
    <div *ngIf="successMessage" class="success-message">
      {{ successMessage }}
    </div>
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </form>
</div>
