.app-container {
    header {
      background-color: #007ACC;
      color: #fff;
      padding: 10px;
      text-align: center;
  
      nav {
        margin-top: 10px;
  
        ul {
          list-style: none;
          padding: 0;
          display: flex;
          justify-content: center;
  
          li {
            margin: 0 10px;
  
            a {
              color: #fff;
              text-decoration: none;
              font-weight: bold;
            }
          }
        }
      }
    }
  
    main {
      padding: 20px;
      max-width: 1200px;
      margin: 0 auto;
    }
  }
  