<!-- 
<div class="admin-dashboard">
    <h1>Admin Dashboard</h1>
    
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Location</th>
          <th>Brand</th>
          <th>Available</th>
          <th>Price Per Hour</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let spot of chargingSpots">
          <td>{{ spot.id }}</td>
          <td>{{ spot.location }}</td>
          <td>{{ spot.brand }}</td>
          <td>{{ spot.available }}</td>
          <td>{{ spot.pricePerHour }}</td>
          <td>
            <button (click)="deleteChargingSpot(spot.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
   -->